/* Стили для блоков */
section.block {
  width: 400px; /* Ширина содержимого */
  padding: 20px; /* Поля */
  box-sizing: border-box; /* Алгоритм расчёта ширины */
  background: #f5e8d0; /* Цвет фона */
  border: 1px solid #333; /* Рамка */
}
.block h2 {
  background: #f0ba7d; /* Цвет фона */
  margin-top: 0; /* Убираем пустое пространство сверху */
  padding: 10px; /* Поля */
}

/* Nav */
.header .menu {
  list-style: none; /* Убираем маркеры списка */
  padding: 5px; /* Поля от рамки до пунктов меню */
  border: 1px solid #000; /* Рамка вокруг меню */
}
.header .menu a {
  padding: 2px; /* Поля вокруг текста */
  display: block; /* Ссылка как блочный элемент */
  border: 1px solid transparent; /* Маскируем рамку вокруг ссылки */
  text-decoration: none; /* Убираем подчёркивание у ссылок */
}
.header .menu a:hover {
  background: #faf3d2; /* Цвет фона под ссылкой */
  color: #800000; /* Новый цвет ссылки */
  border: 1px dashed #634f36; /* Рамка вокруг ссылки */
}

/* Icons */
.icons img {
  vertical-align: middle; /* Выравнивание по середине */
}
.icons .icon {
  vertical-align: middle; /* Выравнивание по середине */
  margin-left: 7px; /* Отступ слева */
  margin-right: 20px; /* Отступ справа */
  color: #ed1c24; /* Цвет текста */
}
