/*class="container-4"*/
body {
  margin: 0; /* Убираем отступы */
}
.sidebar,
.content {
  position: absolute; /* Абсолютное позиционирование */
  overflow: auto; /* Полосы прокрутки при необходимости */
  padding: 10px; /* Поля вокруг текста */
  top: 61px; /* Расстояние от верхнего края */
  bottom: 0; /* Расстояние от нижнего края */
}
header {
  height: 60px; /* Высота */
  background: #fedfc0; /* Цвет фона */
  border-bottom: 1px solid #7b5427; /* Линия снизу */
}
header h1 {
  line-height: 60px; /* Выравниваем по середине */
  margin: 0 10px; /* Сдвигаем заголовок */
}
.sidebar {
  width: 150px; /* Ширина */
  background: #ecf5e4; /* Цвет фона */
  border-right: 1px solid #231f20; /* Линия справа */
}
.content {
  left: 171px; /* Расстояние от левого края */
  right: 0; /* Расстояние справа */
}
